.supplier-canopy
  .supplier-header
    = image_tag supplier.background
  .supplier-nav
    %ul
      %li= link_to Spree.t(:about), supplier_path(supplier.slug)
      %li= link_to Spree.t(:products), supplier_products_path(supplier.slug)
  .supplier-avatar
    = image_tag supplier.avatar
  .container.supplier-content
    = yield
